{
  "openapi": "3.0.1",
  "info": {
    "contact": {
      "name": "Salsa",
      "url": "https://salsa.dev"
    },
    "description": "REST API for interacting with Salsa's payroll services.",
    "title": "REST API",
    "version": "1"
  },
  "servers": [
    {
      "description": "Sandbox",
      "url": "https://api.sandbox.salsa.dev"
    },
    {
      "description": "Production",
      "url": "https://api.salsa.dev"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/rest/v1/auth/token": {
      "post": {
        "description": "User API tokens provide short-lived, limited-scope authentication for one-time operations. \n            They are typically associated with a few realms and used to generate temporary authentication tokens for specific API tasks.",
        "operationId": "createUserToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateEmployerUserTokenInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreateWorkerUserTokenInput"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeApiToken"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeApiToken"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create User API token",
        "tags": ["Authentication"]
      }
    },
    "/api/rest/v1/documents/{documentId}": {
      "get": {
        "description": "Retrieves the Document for the specified document Id.",
        "operationId": "findDocument",
        "parameters": [
          {
            "description": "Document Id",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeDocument"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve Document",
        "tags": ["Documents"]
      }
    },
    "/api/rest/v1/documents/{documentId}/link": {
      "post": {
        "description": "Creates a signed URL that is accessible until the expiresAt time.",
        "operationId": "createDocumentLink",
        "parameters": [
          {
            "description": "Document Id",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeDocumentLink"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Generate document link",
        "tags": ["Documents"]
      }
    },
    "/api/rest/v1/employers": {
      "post": {
        "description": "Creates a new Employer.",
        "operationId": "createEmployer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployer"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployer"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create Employer",
        "tags": ["Employers"]
      }
    },
    "/api/rest/v1/employers/": {
      "get": {
        "description": "Retrieves all Employers.",
        "operationId": "getEmployers",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListEmployer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve Employers",
        "tags": ["Employers"]
      }
    },
    "/api/rest/v1/employers/{employerId}": {
      "delete": {
        "description": "Deletes an Employer.",
        "operationId": "deleteEmployer",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Delete Employer",
        "tags": ["Employers"]
      },
      "get": {
        "description": "Retrieves the Employer.",
        "operationId": "getEmployer",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve Employer",
        "tags": ["Employers"]
      },
      "put": {
        "description": "Updates an Employer.",
        "operationId": "updateEmployer",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Update Employer",
        "tags": ["Employers"]
      }
    },
    "/api/rest/v1/employers/{employerId}/capabilities": {
      "get": {
        "description": "Retrieves all the employer capabilities.",
        "operationId": "getCapabilities",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployerCapabilities"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve employer capabilities.",
        "tags": ["Employer Capabilities"]
      }
    },
    "/api/rest/v1/employers/{employerId}/mock-onboard": {
      "post": {
        "description": "Onboards an Employer using mocked information.",
        "operationId": "mockOnboard_1",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeMockOnboardingEmployer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Mock-onboard Employer",
        "tags": ["Mock Onboarding"]
      }
    },
    "/api/rest/v1/employers/{employerId}/onboardings": {
      "post": {
        "description": "Creates a hosted workflow that allows Employers to set themselves up within your organization.",
        "operationId": "createHostedEmployerOnboarding",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeHostedEmployerOnboarding"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeHostedEmployerOnboarding"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create HostedEmployerOnboarding",
        "tags": ["Employer Onboarding"]
      }
    },
    "/api/rest/v1/employers/{employerId}/onboardings/{onboardingId}": {
      "get": {
        "description": "Retrieves a hosted workflow that allows Employers to set themselves up within your organization.",
        "operationId": "getHostedEmployerOnboarding",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Hosted Employer Onboarding Id",
            "in": "path",
            "name": "onboardingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeHostedEmployerOnboarding"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve HostedEmployerOnboarding",
        "tags": ["Employer Onboarding"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs": {
      "get": {
        "description": "Retrieves all PayrollRuns within a given Employer.",
        "operationId": "getPayrollRuns",
        "parameters": [
          {
            "description": "Employer Id to retrieve the list of PayrollRuns for.",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria. Prefix the property with - for descending order. Otherwise sort order is ascending. Multiple sort criteria are supported. If no sorting criteria is specified, sorting is not guaranteed however data may be sorted by a default criteria.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListPayrollRun"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve all PayrollRuns",
        "tags": ["PayrollRuns"]
      },
      "post": {
        "description": "Creates a new PayrollRun. The PayrollRun will have a status of PENDING and contain the included worker payments for each worker.",
        "operationId": "calculatePayrollRun",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PayrollRunCalculateFromPayGroupInput"
                  },
                  {
                    "$ref": "#/components/schemas/PayrollRunCalculateFromWorkerListInput"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRun"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRun"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create PayrollRun",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/preview": {
      "post": {
        "description": "Previews a new PayrollRun. This provides a lightweight preview of what a payroll run may look like after creation.",
        "operationId": "previewPayrollRun",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PayrollRunPreviewFromPayGroupInput"
                  },
                  {
                    "$ref": "#/components/schemas/PayrollRunPreviewFromWorkerListInput"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRunPreview"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Preview PayrollRun",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}": {
      "delete": {
        "description": "Deletes a pending PayrollRun by Id. If the PayrollRun is confirmed this operation will return an error.",
        "operationId": "deletePendingPayrollRun",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pending PayrollRun Id to delete",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRun"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Delete PayrollRun",
        "tags": ["PayrollRuns"]
      },
      "get": {
        "description": "Retrieves a PayrollRun with the specified Id.",
        "operationId": "getPayrollRun",
        "parameters": [
          {
            "description": "Employer Id to retrieve the PayrollRun for",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id to retrieve",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRun"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve PayrollRun",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}/confirm": {
      "post": {
        "description": "Confirms a pending payroll run.",
        "operationId": "confirmPayrollRun",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id to confirm",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRun"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Confirm PayrollRun",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}/reports/cash-requirements": {
      "get": {
        "operationId": "cashRequirements",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id to retrieve",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Cash Requirements report",
        "tags": ["PayrollRunReports"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}/reports/payroll-journal": {
      "get": {
        "operationId": "payrollJournal",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id to retrieve",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Payroll Journal report",
        "tags": ["PayrollRunReports"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}/state": {
      "get": {
        "description": "Retrieves a PayrollRun state with the specified Id.",
        "operationId": "getPayrollRunState",
        "parameters": [
          {
            "description": "Employer Id to retrieve the PayrollRun for",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id to retrieve",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopePayrollRunState"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve PayrollRun state",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}/worker-payment-records": {
      "get": {
        "description": "Retrieves all WorkerPaymentRecords linked to the specified PayrollRun.",
        "operationId": "getAllPayrollRunPaymentRecords",
        "parameters": [
          {
            "description": "Employer Id.",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id to retrieve the WorkerPaymentRecords for.",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter the WorkerPaymentRecords by workerId.",
            "in": "query",
            "name": "workerId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPaymentRecord"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve all WorkerPaymentRecords",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/payroll-runs/{payrollRunId}/worker-payments": {
      "patch": {
        "description": "This operation accepts a list of commands, enabling modifications to any number of WorkerPayments linked to the specified payrollRun with a single invocation.",
        "operationId": "patchWorkerPayrollRun",
        "parameters": [
          {
            "description": "Employer Id.",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "PayrollRun Id of the WorkerPayment to update.",
            "in": "path",
            "name": "payrollRunId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PatchWorkerPaymentInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPayment"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Modify a WorkerPayment",
        "tags": ["PayrollRuns"]
      }
    },
    "/api/rest/v1/employers/{employerId}/terms-of-service": {
      "post": {
        "description": "Submits the Employer preference status for the acceptance of the Terms of Service",
        "operationId": "acceptTermsOfService",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsOfServiceAcceptanceRestInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Accept or reject Employer Terms of Service",
        "tags": ["Employers"]
      }
    },
    "/api/rest/v1/employers/{employerId}/work-locations": {
      "get": {
        "description": "Retrieves all the work locations created for the employer.",
        "operationId": "getWorkLocations_1",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListEmployerWorkLocation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve work locations.",
        "tags": ["Employer Work Location"]
      }
    },
    "/api/rest/v1/employers/{employerId}/work-locations/{workLocationId}": {
      "get": {
        "description": "Retrieves a work location by its id.",
        "operationId": "getWorkLocation_1",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Work Location Id",
            "in": "path",
            "name": "workLocationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeEmployerWorkLocation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve a work location.",
        "tags": ["Employer Work Location"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-pay-groups": {
      "get": {
        "description": "Retrieves all WorkerPayGroups within a given Employer.",
        "operationId": "getWorkerPayGroups",
        "parameters": [
          {
            "description": "Employer Id to retrieve the WorkerPayGroups for",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPayGroup"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve all WorkerPayGroups",
        "tags": ["WorkerPayGroups"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-pay-groups/{workerPayGroupId}": {
      "get": {
        "description": "Retrieves a WorkerPayGroup with the specified Id.",
        "operationId": "getWorkerPayGroup",
        "parameters": [
          {
            "description": "Employer Id to retrieve the WorkerPayGroups for",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "WorkerPayGroup Id to retrieve",
            "in": "path",
            "name": "workerPayGroupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerPayGroup"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve WorkerPayGroup",
        "tags": ["WorkerPayGroups"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-payments/{workerPaymentId}": {
      "delete": {
        "description": "Deletes a WorkerPayment.",
        "operationId": "deleteWorkerPayment",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Delete WorkerPayment",
        "tags": ["WorkerPayments"]
      },
      "get": {
        "operationId": "getWorkerPayment",
        "parameters": [
          {
            "description": "Employer Id.",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerPayment"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve WorkerPayment",
        "tags": ["WorkerPayments"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-payments/{workerPaymentId}/advance-payment": {
      "post": {
        "description": "Marks the current pending net pay as already paid.",
        "operationId": "advancePayment",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerPayment"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Advance Payment",
        "tags": ["WorkerPayments"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-payments/{workerPaymentId}/compensations": {
      "get": {
        "description": "List all compensations of a WorkerPayment.",
        "operationId": "getCompensations",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPaymentCompensation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Get compensations",
        "tags": ["WorkerPayments"]
      },
      "put": {
        "description": "Creates a new compensation for a WorkerPayment.",
        "operationId": "createOrUpdateWorkerPaymentCompensations",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateWorkerPaymentCompensationInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPaymentCompensation"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Creates compensation",
        "tags": ["WorkerPayments"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-payments/{workerPaymentId}/confirm": {
      "post": {
        "description": "Confirms a WorkerPayment. Changes the status to CONFIRMED and it won't be modifiable anymore",
        "operationId": "confirmWorkerPayment",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerPayment"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Confirm WorkerPayment",
        "tags": ["WorkerPayments"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-payments/{workerPaymentId}/deductions": {
      "get": {
        "description": "List all deductions of a WorkerPayment.",
        "operationId": "getDeductions",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPaymentDeduction"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Get deductions",
        "tags": ["WorkerPayments"]
      },
      "put": {
        "description": "Creates a new deduction for a WorkerPayment.",
        "operationId": "createOrUpdateWorkerPaymentDeductions",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateWorkerPaymentDeductionInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorkerPaymentDeduction"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Creates deduction",
        "tags": ["WorkerPayments"]
      }
    },
    "/api/rest/v1/employers/{employerId}/worker-payments/{workerPaymentId}/worker-payment-record": {
      "get": {
        "description": "Gets the WorkerPaymentRecord.",
        "operationId": "getWorkerPaymentRecord",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The WorkerPayment Id.",
            "in": "path",
            "name": "workerPaymentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerPaymentRecord"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Get WorkerPaymentRecord",
        "tags": ["WorkerPayments"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers": {
      "get": {
        "description": "Retrieves all Workers within a given Employer.",
        "operationId": "getAllWorkers",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Zero-based page index (0..N)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "description": "The size of the page to be returned",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 1
            }
          },
          {
            "description": "Sorting criteria. Prefix the property with - for descending order. Otherwise sort order is ascending. Multiple sort criteria are supported. If no sorting criteria is specified, sorting is not guaranteed however data may be sorted by a default criteria.",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListWorker"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve Workers",
        "tags": ["Workers"]
      },
      "post": {
        "description": "Creates a new Worker within the given Employer.",
        "operationId": "createWorker",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorker"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorker"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create Worker",
        "tags": ["Workers"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/mock-onboard": {
      "post": {
        "description": "Onboards a Worker using mocked information.",
        "operationId": "mockOnboard",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MockOnboardingWorkersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeListMockOnboardingWorker"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Mock-onboard Worker",
        "tags": ["Mock Onboarding"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/{workerId}": {
      "get": {
        "description": "Retrieves the Worker for a specific worker id within a given Employer.",
        "operationId": "getWorker",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorker"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve Worker",
        "tags": ["Workers"]
      },
      "put": {
        "description": "Updates a Worker within the given Employer.",
        "operationId": "updateWorker",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorker"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Update Worker",
        "tags": ["Workers"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/{workerId}/capabilities": {
      "get": {
        "description": "Retrieves all the worker capabilities.",
        "operationId": "getWorkerCapabilities",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id.",
            "example": "wr_12323...",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerCapabilities"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Retrieve worker capabilities.",
        "tags": ["Worker Capabilities"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/{workerId}/contracts": {
      "post": {
        "description": "Creates a worker contract that contains the details of a worker's employment.",
        "operationId": "createWorkerContract",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerContractInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerContract"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerContract"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create WorkerContract",
        "tags": ["Worker Contract"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/{workerId}/contracts/{workerContractId}": {
      "put": {
        "description": "Updates a WorkerContract for a given Worker. WorkerContract's can only be updated if they have not been used in a payroll run.",
        "operationId": "updateWorkerContract",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "WorkerContract Id",
            "in": "path",
            "name": "workerContractId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkerContractInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeWorkerContract"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Update WorkerContract",
        "tags": ["Worker Contract"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/{workerId}/onboardings": {
      "post": {
        "description": "Creates a hosted workflow that allows Workers to set themselves up within a given Employer.",
        "operationId": "createHostedWorkerOnboarding",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeHostedWorkerOnboarding"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestApiEnvelopeHostedWorkerOnboarding"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiEnvelope"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Create HostedWorkerOnboarding",
        "tags": ["Worker Onboarding"]
      }
    },
    "/api/rest/v1/employers/{employerId}/workers/{workerId}/onboardings/{onboardingId}": {
      "get": {
        "description": "Retrieves a hosted workflow that allows Workers to set themselves up within a given Employer.",
        "operationId": "getHostedWorkerOnboarding",
        "parameters": [
          {
            "description": "Employer Id",
            "in": "path",
            "name": "employerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Worker Id",
            "in": "path",
            "name": "workerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Hosted Worker Onboarding Id",
            "in": "path",
[...]
